* {
    box-sizing: border-box;
    font-family: 'Choko Plain';
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited {
    outline: none;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
}

.flex {
    display: flex;
    
    &.wrap {
        flex-wrap: wrap;
    }
}

.hidden {
    display: none;
}

@media (min-width: 769px) {
    .container {

        &:not(.full) {
            max-width: 970px;
            @include my-property(transform, translateY(120px));
        }

        &.full {
            max-width: 90%;
            @include my-property(transform, translateY(60px));
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}