* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 970px;
}

.flex {
    display: flex;

    &.wrap {
        flex-wrap: wrap;
    }
}

.hidden {
    display: none;
}